<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="60">
    <title>{{ map.title }}</title>
    <link rel="stylesheet" href="assets/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/fontawesome/css/solid.css" />
    <link rel="stylesheet" href="{{ map.css }}" />
  </head>
  <body>
    <main>
	<img class="container" src="{{ map.image }}">
    {% if map.alarm %}
        <audio autoplay>
            <source src="audio/alert.mp3" type="audio/mpeg">
        </audio>
    {% endif %}

    {% for sensor in map.sensors -%}
	<span class="{{ sensor.name }}">
	    <p><img class="svg-filter" src="{{ sensor.image }}">{{ sensor.label }}</p>
        <img class="overlay" src="{{ map.nms_url }}/graph.php?id={{ sensor.id }}&type=sensor_{{ sensor.type }}&height=287&width=616">
	</span>
	{% endfor -%}
    </main>
  </body>
</html>